<ion-header>
  <ion-toolbar>
    <ion-title>Filtros de Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Precio Mínimo:</ion-label>
      <ion-input type="number" name="precio-minimo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio Máximo:</ion-label>
      <ion-input type="number" name="precio-maximo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Localización:</ion-label>
      <ion-input type="text" name="localizacion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad Mínima:</ion-label>
      <ion-input type="number" name="edad-minima"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad Máxima:</ion-label>
      <ion-input type="number" name="edad-maxima"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Entrada:</ion-label>
      <ion-input type="date" name="fecha-entrada"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Géneros Deseados:</ion-label>
      <ion-select multiple="true" name="generos-deseados">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Permiso de Mascotas:</ion-label>
      <ion-select name="permiso-mascotas">
        <ion-select-option value="si">Sí</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Aplicar Filtros</ion-button>
  </form>
</ion-content>
