<ion-header>
  <ion-toolbar>
    <ion-title>
      Compatibilidad de usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Resultado de compatibilidad
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label>Propietario</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-progress-bar [value]="100"></ion-progress-bar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label>Interesado</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-progress-bar [value]="compatibilityPercentage / 10"></ion-progress-bar>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="compatibility-percentage">
        <span>{{ compatibilityPercentage }}</span>/10
      </div>
      <div *ngIf="compatibilityPercentage >= 7" class="contact-info">
        <a href="tel:{{ phoneNumber }}">Contactar al propietario: {{ phoneNumber }}</a>
      </div>
      <div *ngIf="compatibilityPercentage < 7" class="not-compatible">
        No eres lo suficientemente compatible con el usuario propietario. Prueba con otro piso.
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      App Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
