<ion-content class="ion-padding">
  <div class="content--center">
    <ion-row>
      <ion-col size="12">
        <h3>¿Estamos deseando conocerte!</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>Completa tu perfil para poder enviar y recibir invitaciones de chat sobre los alojamientos que te interesan.</p>
      </ion-col>
    </ion-row>
    <div>
      <ion-img class="image--profile" src="/assets/images/Profile.svg"></ion-img>
    </div>
  </div>
</ion-content>
<ion-footer class="mb-4">
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="navigateToUserInformation()" expand="block" shape="round">
        Completar perfil
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>