.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .icon {
    font-size: 100px;
    color: #333;
  }
  
  form {
    width: 80%;
    max-width: 400px;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 16px;
  }
  
  .signup-link {
    margin-top: 16px;
    text-align: center;
  }
  
  .signup-link a {
    color: #007bff;
  }
  