<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateToUserInformation()">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Información personal</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="content--center">
      <h2 class="m-0">Hola {{ currentUser.displayName ? currentUser.displayName : ''}}!</h2>
      <div class="hero">
        <h4>Bienvenido Rommate</h4>
        <button class="search-button">Buscar pisos</button>
      </div>
    </div>
  </ion-content>
</div>
