<app-header [title]="title"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col>
            <ion-input formControlName="name" type="text" label="Nombre" label-placement="floating" fill="outline" placeholder="Añade tu nombre"></ion-input>
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="lastName" type="text" label="Apellidos" label-placement="floating" fill="outline" placeholder="Añade tus apellidos"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="birthDate" type="date" label="Fecha de nacimiento" label-placement="floating" fill="outline" placeholder="Añade tu fecha de nacimiento"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="telNumber" type="number" label="Teléfono" label-placement="floating" shape="round" fill="outline" placeholder="Añade tu número de teléfono"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <mat-label>Genero*</mat-label>
        </ion-col>
        <div class="m-auto">
          <ion-col size="12">
            <ion-radio-group formControlName="gender">
              <ion-radio *ngFor="let option of genderOptions" [value]="option.value">
                {{ option.name }}
              </ion-radio>
            </ion-radio-group>
          </ion-col>
        </div>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <mat-label>¿A qué te dedicas?*</mat-label>
        </ion-col>
        <div class="m-auto">
          <ion-col size="12">
            <ion-radio-group formControlName="study">
              <ion-radio *ngFor="let study of studies" [value]="study.value">
                {{ study.name }}
              </ion-radio>
            </ion-radio-group>
          </ion-col>
        </div>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding">
  <ion-toolbar class="ion-no-padding">
    <ion-button type="submit" (click)="saveUserInfo()" expand="block" shape="round" class="ion-no-margin">Guardar perfil</ion-button>
  </ion-toolbar>
</ion-footer>
