<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      Búsqueda
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="add-outline"></ion-icon>
      Añadir
    </ion-tab-button>
    <ion-tab-button [selected]="true" tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="favorites">
      <ion-icon name="heart-outline"></ion-icon>
      Favoritos
    </ion-tab-button>
    <ion-tab-button tab="user-profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
