ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  form {
    width: 90%;
    max-width: 500px;
  }
  
  ion-item-divider {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  ion-button {
    margin-top: 30px;
  }
  