<ion-header>
  <ion-toolbar>
    <ion-title>Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item-divider>Pregunta 1</ion-item-divider>
      <ion-item>
        <ion-label>Enunciado:</ion-label>
        <ion-textarea name="pregunta1-enunciado"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Opción 1:</ion-label>
        <ion-input type="text" name="pregunta1-opcion1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Opción 2:</ion-label>
        <ion-input type="text" name="pregunta1-opcion2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Opción 3:</ion-label>
        <ion-input type="text" name="pregunta1-opcion3"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Respuesta Correcta:</ion-label>
        <ion-radio-group name="pregunta1-respuesta">
          <ion-item>
            <ion-label>Opción 1</ion-label>
            <ion-radio value="opcion1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Opción 2</ion-label>
            <ion-radio value="opcion2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Opción 3</ion-label>
            <ion-radio value="opcion3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item-divider>
      
    </ion-list>

    <ion-button expand="full" type="submit">Enviar Respuestas</ion-button>
  </form>
</ion-content>
